<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="always"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>

            <file>Kardex/KardexGradeTest.php</file>
            <file>Kardex/KardexTest.php</file>

            <file>LatestGrades/GradeTest.php</file>
            <file>LatestGrades/LatestGradesTest.php</file>

            <file>Schedule/CourseTest.php</file>
            <file>Schedule/ScheduleTest.php</file>

            <file>CareerTest.php</file>
            <file>StudentTest.php</file>
        </testsuite>

        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
</phpunit>