<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Kardex Grade Test">
            <directory suffix="GradeTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Kardex Test">
            <directory suffix="KardexTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Schedule Course Test">
            <directory suffix="CourseTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Schedule Test">
            <directory suffix="ScheduleTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Career Test">
            <directory suffix="CareerTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Student Test">
            <directory suffix="StudentTest.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
</phpunit>